.gradle
/sandbox/.gradle
/build/
/sandbox/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/vcs.xml
.idea/
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/GroupCreationTests.class
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.GroupCreationTests.html
addressbook-web-tests/build/reports/tests/test/css/base-style.css
addressbook-web-tests/build/reports/tests/test/css/style.css
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/js/report.js
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.html
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.GroupCreationTests.xml
.idea/codeStyles/Project.xml
